/*select the first of each article*/

article > p:first-of-type{
    background-color: lightcoral;
}



/* sect the last article of each article */
article > p:last-of-type{
    background-color: lightcoral;
}


/* select the second p of each article */
article > p:nth-of-type(2){
    background-color: lightgreen;
}


article > p:nth-last-of-type(2){
    background-color: lightslategray;
}